<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>9Servlet_Scope</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestScopeServlet</servlet-name>
    <servlet-class>com.amaker.servlet.TestScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestScopeServlet</servlet-name>
    <url-pattern>/servlet/TestScopeServlet</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>com.amaker.servlet.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/servlet/ResultServlet</url-pattern>
    </servlet-mapping>
</web-app>