<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>7Servlet_Cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.amaker.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/servlet/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>com.amaker.servlet.TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/servlet/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestVisitor</servlet-name>
    <servlet-class>com.amaker.servlet.TestVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestVisitor</servlet-name>
    <url-pattern>/servlet/TestVisitor</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>PrepareLoginServlet</servlet-name>
        <servlet-class>com.amaker.servlet.PrepareLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareLoginServlet</servlet-name>
        <url-pattern>/servlet/PrepareLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.amaker.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
</web-app>